/*#tabpane {*/

/*    -fx-tab-min-height: 5em;*/
/*    -fx-tab-max-height: 5em;*/

/*    -fx-tab-min-width: 0.5em;*/
/*    -fx-tab-max-width: 0.5em;*/
/*    -fx-padding: 0 -1 -1 0;*/
/*}*/

/*.tab .tab-label {*/
/*    -fx-background-color: transparent;*/
/*    -fx-text-fill: #070707;*/

/*}*/

/*.tab {*/

/*    -fx-background-color: #FFFFFF;*/
/*    -fx-background-insets: 0.0;*/
/*    -fx-background-radius: 0.0;*/
/*    -fx-padding: 0 30 0 30;*/
/*}*/

/*.tab:selected {*/

/*!*    -fx-background-color: #FAFCFB;*!*/
/*!*    -fx-background-radius: 0;*!*/
/*!*    -fx-background-insets: 0;*!*/
/*!*    -fx-border-width: 5 0 0 0;*!*/
/*    -fx-border-color: #9052dc;*/
/*}*/

/*.tab:focused {*/

/*    -fx-focus-color: transparent;*/
/*}*/

/*.tab-pane *.tab-header-background {*/

/*    -fx-background-color: transparent;*/
/*}*/

/*.tab-pane:left *.tab-header-area {*/

/*    -fx-background-insets: 0 0 0 10;*/
/*    -fx-padding: 0.0em 0.0em 0.0em 0.0em;*/

/*}*/

/*.tab:selected .focus-indicator {*/

/*    -fx-focus-color: transparent;*/
/*    -fx-border-color: transparent;*/
/*}*/

.tab {
    -fx-color: white;
    -fx-border: none;
    -fx-cursor: pointer;
}

.tab:selected {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #9052dc;
}

.tab:selected .tab-label {
    -fx-text-fill: #9052dc;
}

.tab:selected .focus-indicator {
    -fx-focus-color: none;
    -fx-border-color: transparent;
}

/*.button {*/
/*    -fx-border-radius: 2px;*/
/*    -fx-border-color: linear-gradient(#9052dc, #ad6aef);*/
/*}*/


